[Unit]
Description=COMP3210 Backend API
After=network.target

[Service]
Type=notify
WorkingDirectory=/opt/COMP3210/Backend-API
ExecStart=/usr/bin/python3 /opt/COMP3210/Backend-API/main.py +r +b -x /dev/ttyUSB0 -v
Restart=on-abort

[Install]
WantedBy=multi-user.target