[[source]]

url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"


[packages]

tornado = "*"
sdnotify = "*"
pyserial = "*"
xbee = "*"
"a3c0599" = {path = "rf-bridge-python", editable = true}


[dev-packages]

